.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(41, 60, 85, 0.9), rgb(71, 34, 51, 0.9));
}

.container {
    display: flex;
    width: 1300px;
    flex-direction: column;
    border: 1px solid rgba(138, 68, 155, 0.466);
    margin: 10px;
    background-image: linear-gradient(to right, rgba(41, 60, 85), rgb(71, 34, 51));
}

.block-bottom {
    display: flex;
    margin-top: 80px;
    flex-direction: row;
    justify-content: space-between;
    /*border: 1px solid rgb(0, 26, 255);*/
}

.block {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    /*border: 1px solid rgb(0, 26, 255);*/
}

.block_1-1 {
    height: 300px;
    width: 220px;
    margin-left: 120px;
    border: 6px solid rgb(75, 20, 58);
}

.block_1-2 {
    padding: 10px;
    margin-left: 50px;
    /*border: 1px solid rgb(255, 255, 255);*/
}

.block_2-1 {
    margin-left: 20px;
    /*border: 1px solid rgb(255, 255, 255);*/
}

.block_2-2 {
    padding: 10px;
    margin-left: 10px;
    line-height: 18px;
    /*border: 1px solid rgb(255, 255, 255);*/
}

.block_3-1 {
    margin-left: 20px;
    /*border: 1px solid rgb(255, 255, 255);*/
}

.block_3-2 {
    padding: 10px;
    margin-left: 10px;
    /*border: 1px solid rgb(255, 255, 255);*/
}

.block_4-1 {
    margin-left: 20px;
    /*border: 1px solid rgb(255, 255, 255);*/
}

.block_4-2 {
    padding: 10px;
    margin-left: 10px;
    line-height: 36px;
    /*border: 1px solid rgb(255, 255, 255);*/
}

.block_5-1 {
    margin-left: 20px;
    /*border: 1px solid rgb(255, 255, 255);*/
}

.block_5-2 {
    padding: 10px;
    margin-left: 10px;
    /*border: 1px solid rgb(255, 255, 255);*/
}

.block_6-1 {
    margin-left: 20px;
    /*border: 1px solid rgb(255, 255, 255);*/
}

.block_6-2 {
    padding: 10px;
    margin-left: 10px;
    /*border: 1px solid rgb(255, 255, 255);*/
}

.block_7-1 {
    margin-left: 20px;
    /*border: 1px solid rgb(255, 255, 255);*/
}

.block_7-2 {
    padding: 10px;
    margin-left: 10px;
    /*border: 1px solid rgb(255, 255, 255);*/
}

.block_8-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid rgb(255, 255, 255);*/
    flex: 1;
}

.block_8-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 3;
    /*border: 1px solid rgb(255, 255, 255);*/
}

.block_8-3 {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    /*border: 1px solid rgb(255, 255, 255);*/
}

.font_1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: MV Boli, sans-serif;
    font-size: 70px;
    color: rgba(87, 228, 134, 0.863);
}

.font_2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: MV Boli, sans-serif;
    font-size: 40px;
    color: rgb(76, 173, 218);
}

.font_3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Trebuchet MS, sans-serif;
    font-size: 20px;
    color: rgb(231, 229, 206);
}

.font_4 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(231, 229, 206);
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(247, 16, 158);
}

ul {
    margin-top: 4px;
    margin-bottom: 0px;
}

li {
    margin-top: 4px;
    margin-bottom: 0px;
}

.img-foto {
    margin-top: 0px;
    margin-left: 0px;
    width: 220px;
    height: 300px;
}

.icon-img1 {
    margin-top: 0px;
    margin-left: 0px;
    width: 80px;
    height: 80px;
}

.icon-img2 {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    height: 50px;
}